body {
    margin: 0;
    font-family: 'Press Start 2P', cursive;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #130924;
}

.content {
    min-height: calc(100vh - 70px - 64px);
}

.movies {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

h3 {
    color: white;
}

h5 {
    color: #311b92
}

.progress {
    display: flex;
    justify-content: center;
    height: 420px;
    background-color: #130924;
}

.search-button {
    position: absolute;
    top: 0;
    right: 0.5rem;
}

label:not(:last-child) {
    margin-right: 1rem;
}